.main{
    text-align: center;
    width: 100%;
}
header{
    text-align: center;
    line-height: 2.5em;
    font-size: 1.2em;
    background-color: #0fbcf9;
    color: #2f3542;
}
h1{
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    background-color:#0fbcf9 ;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
form{
    margin: auto;
    width: 50%;
    margin-top: 20px;
    border: 1px solid #4bcffa;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.input label{
    font-size: 1.2em;
    text-align: left;
}
.input input{
    font-size: 1.1em;
    padding-top: 3px;
    padding-bottom:3px;
    width: 40%;
    margin-top: 10px;
}
.input select{
    width: 15%;
    font-size: 1.1rem;
}
input[type="checkbox"]{
    width: 5%;
}
 p{
font-size: 1.1rem;
margin-top: 5px;
margin-bottom: 5px;
}
.textarea{
    text-align: center;
}
.textarea textarea{
    width: 50%;
    height: 100px;
    background-color: #ffffff;
    font-size: 1.1rem;
    border-radius: 3px;
}
input[type="radio"]{
    width: 5%;
}
input[type="button"]{
    width: 8%;
    border: 1px lightblue ; 
   padding: 5px 15px;
   font-size: 1.1em;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: lightblue;
}
input[type="submit"]{
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px;
    font-size: 1.1em;
    padding: 5px 15px;
    background-color: rgba(0, 132, 255, 0.1)
}
input[type="submit"]:hover{
    background-color: rgba(0, 132, 255, 0.15);
}
input[type="text"],input[type="password"]{
    border: none;
    outline: none;
    border: 1px solid #0fbcf9;
    border-radius: 2px;
}